{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="02-which-breed-of-geese-do-you-own">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Registering your geese</h1>

      <form class="form" action="04-how-do-your-geese-create-the-income" method="post">

<!-- my specific goose question goes here -->

        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
        Do your geese create a taxable income?
        </h1>
        </legend>
        <div id="contact-hint" class="govuk-hint">
        Select one option.
        </div>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
        Yes
        </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
        <div class="govuk-form-group">
        <label class="govuk-label" for="contact-by-email">
          What was your last income from your geese, as recorded by HMRC?
        </label>
        <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false"></div>

        </div>
        <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
        No
        </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
        <label class="govuk-label" for="contact-by-phone">

          <!-- <div class="govuk-form-group govuk-form-group--error">
            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint changed-name-error">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Do your geese create a taxable income?
                </h1>
              </legend>
              <div id="changed-name-hint" class="govuk-hint">
                This includes anything reported to HMRC in the last financial year.
              </div>
              <span id="changed-name-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select yes if your geese do create a taxable income
              </span> -->

        </div>
        </div>
<!--
        <div class="govuk-form-group govuk-form-group--error">
          <fieldset class="govuk-fieldset" aria-describedby="nationality-hint nationality-error">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do your geese create a taxable income?
              </h1>
            </legend>
            <div id="nationality-hint" class="govuk-hint">
              If you have dual nationality, select all options that are relevant to you.
            </div>
            <span id="nationality-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Select if you are British, Irish or a citizen of a different country
            </span>
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british">
                <label class="govuk-label govuk-checkboxes__label" for="nationality">
                  British
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
                <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
                  Irish
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nationality-3" name="nationality" type="checkbox" value="other">
                <label class="govuk-label govuk-checkboxes__label" for="nationality-3">
                  Citizen of another country
                </label>
              </div>
            </div>

          </fieldset>
        </div> -->

        </fieldset>
        </div>

<!-- end of my specific goose related questions go here -->

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
