
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        P381 Business e-services

<p class="govuk-body govuk-!-margin-bottom-7"></p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/03/eservices">V1</a>
          <p> 2 options to add administrators </p>
          <p> Same page summary </p>
          <p> Back to journey for amends </p>
        </li>
        <li>
          <a href="/04/eservices">V2</a>
          <p> 1 option to add administrators </p>
          <p> Same page for single summaries, different page final summary </p>
          <p> Same page for amends of final summary </p>
        </li>
        <li>
          <a href="/05/eservices">V3</a>
          <p> 1 option to add administrators </p>
          <p> Different page summary </p>
          <p> Same page for amends </p>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
