{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="http://localhost:3000/02/05-is-this-your-sole-income">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before beginning your application</h1>

      <h2 class="govuk-heading-m">Your geese details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Quantity
          </dt>
          <dd class="govuk-summary-list__value">
            11-50
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="http://localhost:3000/02/01-how-many-geese">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Breed
          </dt>
          <dd class="govuk-summary-list__value">
            Pink-footed Geese
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="http://localhost:3000/02/02-which-breed-of-geese-do-you-own">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Taxable Income
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="http://localhost:3000/02/03-do-your-geese-create-a-taxable-income">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of income
          </dt>
          <dd class="govuk-summary-list__value">
            Feather selling
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="http://localhost:3000/02/04-how-do-your-geese-create-the-income">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sole Income
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="http://localhost:3000/02/05-is-this-your-sole-income">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Now begin your application</h2>

      <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>
{% endblock %}
